
// Cores
$primaria: #95B233;
$secundaria: #2F314A;
$terciaria: #ABCD39;

// Geral
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:focus{outline: none !important;}

// Fontes
h1,h2,h3,h4,h5,h6,p,span,a,button,ul,li {
  font-family: 'Dosis', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700 !important;
}

.botao-primario {
  background-color: $primaria;
  padding: 12px 50px;
  border-radius: 20px;
  border: none;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.4s all;
  &:hover{
    background-color: $secundaria;
  }
}

.reverse-mob{
  @media(max-width: 992px){
    display: flex;
    flex-direction: column-reverse;
  }
}

// Slick slider
@import '../slick/slick.scss';
@import '../slick/slick-theme.scss';

// HOMEPAGE
@import 'components/home/hero-home.scss';
@import 'components/home/feito-com-amor.scss';
@import 'components/home/beneficios.scss';
@import 'components/home/slider-produtos-home.scss';
@import 'components/home/como-funciona.scss';
@import 'components/home/depoimentos.scss';
@import 'components/home/lojas.scss';
@import 'components/home/home-blogposts.scss';
@import 'components/home/parceiro.scss';

// PRODUTOS
@import 'components/produtos/hero-produtos.scss';
@import 'components/produtos/list-produtos.scss';
@import 'components/produtos/praticidade.scss';

// ALIMENTAÇÃO NATURAL
@import 'components/alimen-natural/alimen-home.scss';
@import 'components/alimen-natural/alimen-duvida.scss';

// FAQ
@import 'components/faq/faq.scss';

// ONDE ESTAMOS
@import 'components/onde-estamos/onde-estamos.scss';

// CONTATO
@import 'components/contato/contato.scss';
