#blog-home{
  padding: 20px;
  margin: 90px auto;
  @media(max-width: 992px){
    margin: 30px auto;
  }
  .container{
    max-width: 921px;
    h1{
      color: #2F314A;
      font-size: 32px;
      line-height: 41px;
    }
  }
  .grid-area{
    margin: 20px auto;
    max-width: 921px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: auto;
    @media(max-width: 992px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 500px){
      grid-template-columns: repeat(1, 1fr);
    }
    .post-area{
      margin: 10px;
      .post-img{
        height: 193px;
        width: 100%;
        padding: 0;
        margin: 0;
        object-fit: cover;
        background-size: cover !important;
        border-radius: 5px 5px 0 0;
      }
      h6,p{
        max-width: 225px;
        margin: 0 auto;
        @media(max-width: 992px){
          max-width: 100%;
        }
      }
      h6{
        padding: 20px 20px 10px 20px;
        font-size: 20px;
        line-height: 24px;
      }
      p{
        padding: 0 20px 20px 20px;
        font-size: 16px;
        line-height: 24px;
        color: #686868;
      }
      .blog-post{
        // padding: 30px 50px;
        background-position: 50% 50%;
        background-size: cover;
        border: 1px solid rgba(229,229,229,0.5);
        border-radius: 5px;
        @media(max-width: 992px){
          margin: 20px auto;
        }
      }
    }
  }
}